# ------- workspace rules -------
# Removes all build artifacts from ROS2
ws/*
!.vscode/
!ws/src/
!ws/simple_example/

# ------- general acdos rules -------
# !!! Comment this if you want to commit the generated code !!!
**/c_generated_code/**
ws/*/*_ocp.json
